
<div class = "pink-header"> BOOK YOUR BIKE
  <div class="header-bike-image">
    <%= link_to root_path do %>
    <img src="<%= asset_path('bikeLogo.png') %>" alt="Hot Pink play-dough bike"> 
    <% end %>
  </div>
  <div class="dropdown-image">
    <img src="<%= asset_path('dropdown-image.png') %>" alt="Three hot pink lines"> 
  </div>
</div>

<div class="bookRide-container">

  <h1 class="bookRide-title">Book Your Ride</h1>
  <p>Booking from <span class="bookRide-station-name"> <%= @bike.current_station.name %></span> Station</p> 
  <%= link_to "<button class='bookRide-btn bookRide-change-station'>Change Station</button>".html_safe, stations_index_path %>
  <!-- <h2 class="bookRide-step">1. Choose a bike</h2> -->
  <p>Booking Bike ID: <span class="bookRide-station-name"> <%= @bike.identifier %></span></p> 
  <%= link_to "<button class='bookRide-btn bookRide-change-station'>Change Bike</button>".html_safe, stations_show_path(identifier: @bike.current_station.identifier )%>
  <!-- <p class="bookRide-instructions">Please enter the bike ID code of the bike you would like to ride. This can be found between the handlebars.</p> -->

  <!-- <%= form_for @trip do |f| %>
    <div class="bookRide-form-group">
      <%= f.label "Bike ID", class: "bookRide-form-label" %>
      <%= f.text_field :bike_used, class: "bookRide-form-input" %>
    </div>
  -->

    

  <%= form_for @trip, html: { id: 'book-bike-form' } do |f| %>
    <%= f.hidden_field :bike_used_id, value: @bike.id %>
    <%= f.hidden_field :start_station_id, value: @bike.current_station.id %>
    <%= f.hidden_field :start_time, value: Time.now %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="bookRide-button-group">
      <%= f.submit "Book My Bike", class: "bookRide-btn bookRide-primary", id: "book-bike-button" %>
    </div>
  <% end %>
</div>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
    const bookBikeForm = document.getElementById('book-bike-form');
    const bookBikeButton = document.getElementById('book-bike-button');

    if (bookBikeButton && bookBikeForm) {
      bookBikeButton.addEventListener('click', function(e) {
        e.preventDefault();
        if (confirm('Are you sure you want to book this bike?')) {
          bookBikeForm.submit();
        }
      });
    }
  });
  </script>
  <% end %>
</div>













