<!DOCTYPE html>
<html>
USER FIRSTNAME: <%= current_user.firstName %>
<br> USER ID: <%= @trip.user_id %><br>
TRIP ID: <%= @trip.id %> <br>
Time Start: <%=@trip.formatted_start_time %> <br>
YOU ARE CURRENTLY RIDING <%= @bike_used_id %>

<p><%= link_to('End Trip', 'edit') %></p>
     
</html>