</div class = "access new">
<h1> Welcome to ValetBike</h1>

<p> Testing Registration</p>
<%= form_tag(directors_new_path) do %>
    <table summary = "registration">
    <tr>
        <th><%= label_tag(:userName) %></th>
        <td><%= text_field_tag(:userName, params[:userName]) %></td>
    </tr>
    <tr>
        <th><%= label_tag(:password) %></th>
        <td><%= password_field_tag(:password) %></td>
    </tr>
    </table>

    <div class="form-buttons">
      <%= submit_tag("Register") %>
    </div>
    <%end%>
</div>

