</div class = "access new">
<h1> Welcome to ValetBike</h1>

<p> Testing Registration</p>
<%= form_tag(directors_new_path) do %>
    <table summary = "registration">
    <tr>
        <th><%= label_tag(:firstName) %></th>
        <td><%= text_field_tag(:firstName, params[:firstName]) %></td>
    </tr>
    <tr>
        <th><%= label_tag(:lastName) %></th>
        <td><%= text_field_tag(:lastName, params[:lastName]) %></td>
    <tr>
        <th><%= label_tag(:email) %></th>
        <td><%= text_field_tag(:email, params[:email]) %></td>
    </tr>
    </tr>
    <tr>
        <th><%= label_tag(:password) %></th>
        <td><%= password_field_tag(:password) %></td>
    </tr>
    </table>

    <div class="form-buttons">
      <%= submit_tag("Register") %>
    </div>
    <%end%>
</div>

