<div class="forgot-password-container">
  <h2 class="forgot-password-title">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "forgot-password-form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, placeholder: "Enter your email", autofocus: true, autocomplete: "email", class: "input-field" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "submit-button" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
