<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">

<!-- Main Page -->

<% if user_signed_in? %>

  <!-- Welcome Section -->

  <div class="mainpage-map-search-container">
    <!-- Map Section -->
    <div class="mainpage-map-container">
        <iframe
          src="https://www.google.com/maps/d/u/0/embed?mid=1DYEf2WcpIdAdxegfdgMGlekzDBfWPFc&ehbc=2E312F&noprof=1"
          class="mainpage-map-iframe"
          allowfullscreen
          loading="lazy"></iframe>

    </div>

  <!-- Search Section -->
    <div class="mainpage-search">
      <div class="mainpage-welcome">
        <h1>Welcome to ValetBike, <%= current_user.firstName %></h1>
      </div>

      <h3 class="mainpage-search-title">FIND A STATION NEAR YOU</h3>
      <%= link_to "VIEW STATIONS", stations_index_path, class: "big-button" %>
    </div>


  </div>


</div>

 
<!-- Welcome Page -->

  <% else %>
    <div class="landing-page">
    <!-- Top Section -->
    <div class="top-section">
    
      <header class="header">
        <h1 class="title">VALET BIKE.</h1>
        <button class="login-button"><%= link_to("Log In", {controller: '/devise/sessions', action: 'new'}) %> </button>
      </header>
  
      <div class="main-content">
        <h2 class="tagline">SO LET'S RIDE!</h2>
        <p class="description">
          Ready to ride? We've got you covered. <br>
          Whether you're exploring for the weekend or commuting daily,
          we've got the perfect ride to fit your needs!
        </p>
        <button class="get-started-button"><%= link_to("Get Started", {controller: '/devise/registrations', action: 'new'}) %> </button>
      </div>

          <div class="right-image">
            <img src="<%= asset_path('girl-bike.gif') %>" alt="Girl on a bike">
          </div>

        </div>

        <!-- Lower Section -->
        <div class="lower-section">
        
          <!-- Call to Action -->
          <div class="call-to-action">
            <h2>Join Us in What Matters Most: Our Community, Our Environment, and YOU.</h2>
            <div class="cta-content">
              <img src="<%= asset_path('placeholder-image.jpg') %>" alt="Placeholder Image">
              <p>Hop on and join our mission to build stronger communities, protect the environment, and help riders make a positive impact with every trip. <br>
                Together, we can make every journey count!</p>
            </div>
          </div>

          <!-- How To Ride -->
          <div class="how-to-ride">
            <h2>How to Ride 101</h2>
            <div class="ride-steps">
              <div class="step">
                <%= image_tag "icon-join.jpg", alt: "Join Icon", class: "step-icon" %>
                <h3>JOIN</h3>
                <p>Download the app or visit the website to sign up. <br>
                Choose a membership or pay-as-you-go plan.<br>
                Verify your details and activate your account.</p>
              </div>
              <div class="step">
                <%= image_tag "icon-rent.jpg", alt: "Rent Icon", class: "step-icon" %>
                <h3>RENT</h3>
                <p>Unlock your bike with the app. <br> Give the bike a quick inspection to ensure it is ready to ride.<br> Take a moment to read through bike safety guidelines before you start your journey.</p>
              </div>
              <div class="step">
                <%= image_tag "icon-ride.jpg", alt: "Ride Icon", class: "step-icon" %>
                <h3>RIDE</h3>
                <p><b>Enjoy the Ride! </b> <br> Make the most of your trip by keeping it within the allowed time limit to avoid any extra fees. <br>
                  Remember: The timer continues running even when you stop, so plan accordingly!
                </p>
              </div>
              <div class="step">
                <%= image_tag "icon-park.JPG", alt: "Park Icon", class: "step-icon" %>
                <h3>PARK</h3>
                <p>End your trip by parking at a designated hub. <br>
                Confirm the bike is securely parked in the app to complete your ride.</p>
              </div>
            </div>
          </div>

          <div class="lower-section">
        
          <!-- FAQ Section -->
          <div class="call-to-action">
            <h2>Frequenly Asked Questions</h2>
            
            <div class="faq-content">
            <button class="accordion">How much does it cost to use Valet Bike?</button>
            <div class="panel">
              <p>Valet Bike offers various pricing options to suit your needs, including pay-per-ride and monthly or annual memberships. <br>
              Pay-per-ride rates start at $2.50 for the first 30 minutes. Additional charges apply for extended rides. </p>
            </div>
            
            <button class="accordion">How can I end my trip?</button>
            <div class="panel">
              <p>
            
              Properly ending your trip helps maintain the system's efficiency and prevents additional charges.<br>
              <b>Park at a Designated Hub: </b> Locate and return the bike to an official Valet Bike station. <br>
              <b>Secure the Bike: </b> Wrap the tether around the bike rack and insert it into the closed wheel lock to ensure it's properly locked.<br>
              <b>End the Trip in the App: </b> Follow the app's instructions to finalize your trip. This may include taking a photo to confirm the bike is correctly secured.<br>
              </p>
            </div>
            
            <button class="accordion">Why Use ValleyBike?</button>
            <div class="panel">
              <p>It’s the fastest, most affordable, and eco-friendly way to get around. Skip the traffic, save money, stay active, and help create a greener future—all with just one ride.</p>
            </div>
            
            <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            
            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                  panel.style.display = "none";
                } else {
                  panel.style.display = "block";
                }
              });
            }
            </script>
            <!-- Code from https://www.w3schools.com/howto/howto_js_accordion.asp -->
            </div>

          </div>

        </div>

      </div>
    <% end %>
  </div>
</div>
