<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">

<!-- Main Page -->

<% if user_signed_in? %>

  <!-- Header Section -->
  <div class="mainpage-header">
    <div class="mainpage-logo">
      <%= image_tag "bikeLogo.png", alt: "ValetBike Logo" %>
    </div>

    <nav class="mainpage-nav-menu">
      <ul>
        <li><%= link_to("Rent a Bike", trips_new_path) %></li>
      </ul>
    </nav>

    <div class="mainpage-account-info">
       <ul>
          <li><%= link_to("My Account", {controller: '/devise/registrations', action: 'edit'}) %></li>
       </ul>
    </div>
  </div>

  <!-- Welcome Section -->
  <div class="mainpage-welcome">
    <h1>Welcome to ValetBike, <%= current_user.firstName %></h1>
  </div>

  <!-- Map and Search Section -->
  <div class="mainpage-map-search-container">
    
    <!-- Map Section -->
    <div class="mainpage-map-container">
      <h3 class="mainpage-map-title">MAP OF STATIONS</h3>
      <div class="mainpage-map-wrapper">
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1DYEf2WcpIdAdxegfdgMGlekzDBfWPFc&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
      <!-- <iframe 
          class="mainpage-map-iframe" 
          frameborder="0" 
          src="https://www.google.com/maps/embed/v1/place?q=Northampton,+MA,+USA&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
       </iframe> -->
      </div>
      <div class="mainpage-current-ride">
        <span>CURRENT RIDE: </span><span>10:00</span>
      </div>
    </div>

    <!-- Search Section -->
    <div class="mainpage-search">
      <h3 class="mainpage-search-title">FIND A STATION NEAR YOU</h3>
      <!-- <div class="mainpage-search-box">
        <input type="text" placeholder="Enter location" class="mainpage-search-input">
        <button class="mainpage-search-clear-btn">×</button>
      </div>
      -->
      <%= link_to "<button class = 'record-row2'> VIEW STATIONS </button>".html_safe, stations_index_path %>
    </div>
    
  </div>



 
<!-- Welcome Page -->

  <% else %>
    <div class="landing-page">
    <!-- Top Section -->
    <div class="top-section">
    
      <header class="header">
        <h1 class="title">VALET BIKE.</h1>
        <button class="login-button"><%= link_to("Log In", {controller: '/devise/sessions', action: 'new'}) %> </button>
      </header>
  
      <div class="main-content">
        <h2 class="tagline">SO LET'S RIDE!</h2>
        <p class="description">
          Ready to ride? We've got you covered. <br>
          Whether you're exploring for the weekend or commuting daily,
          we've got the perfect ride to fit your needs!
        </p>
        <button class="get-started-button"><%= link_to("Get Started", {controller: '/devise/registrations', action: 'new'}) %> </button>
      </div>

          <div class="right-image">
            <img src="<%= asset_path('girl-bike.gif') %>" alt="Girl on a bike">
          </div>

        </div>

        <!-- Lower Section -->
        <div class="lower-section">
        
          <!-- Call to Action -->
          <div class="call-to-action">
            <h2>Join Us in What Matters Most: Our Community, Our Environment, and YOU.</h2>
            <div class="cta-content">
              <img src="<%= asset_path('placeholder-image.jpg') %>" alt="Placeholder Image">
              <p>Hop on and join our mission to build stronger communities, protect the environment, and help riders make a positive impact with every trip. <br>
                Together, we can make every journey count!</p>
            </div>
          </div>

          <!-- How To Ride -->
          <div class="how-to-ride">
            <h2>How to Ride 101</h2>
            <div class="ride-steps">
              <div class="step">
                <%= image_tag "icon-join.jpg", alt: "Join Icon", class: "step-icon" %>
                <h3>JOIN</h3>
                <p>Download the app or visit the website to sign up. <br>
                Choose a membership or pay-as-you-go plan.<br>
                Verify your details and activate your account.</p>
              </div>
              <div class="step">
                <%= image_tag "icon-rent.jpg", alt: "Rent Icon", class: "step-icon" %>
                <h3>RENT</h3>
                <p>Unlock your bike with the app. <br> Give the bike a quick inspection to ensure it is ready to ride.<br> Take a moment to read through bike safety guidelines before you start your journey.</p>
              </div>
              <div class="step">
                <%= image_tag "icon-ride.jpg", alt: "Ride Icon", class: "step-icon" %>
                <h3>RIDE</h3>
                <p><b>Enjoy the Ride! </b> <br> Make the most of your trip by keeping it within the allowed time limit to avoid any extra fees. <br>
                  Remember: The timer continues running even when you stop, so plan accordingly!
                </p>
              </div>
              <div class="step">
                <%= image_tag "icon-park.JPG", alt: "Park Icon", class: "step-icon" %>
                <h3>PARK</h3>
                <p>End your trip by parking at a designated hub. <br>
                Confirm the bike is securely parked in the app to complete your ride.</p>
              </div>
            </div>
          </div>

          <div class="lower-section">
        
          <!-- FAQ Section -->
          <div class="call-to-action">
            <h2>Frequenly Asked Questions</h2>
            
            <div class="faq-content">
            <button class="accordion">Section 1</button>
            <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            
            <button class="accordion">Section 2</button>
            <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            
            <button class="accordion">Section 3</button>
            <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            
            <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            
            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                  panel.style.display = "none";
                } else {
                  panel.style.display = "block";
                }
              });
            }
            </script>
            <!-- Code from https://www.w3schools.com/howto/howto_js_accordion.asp -->
            </div>

          </div>

        </div>

      </div>
    <% end %>
  </div>
</div>
