<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <title>ValetBike</title>
  </head>
  <body>
  <!-- Navbar -->
  <% if user_signed_in? %>
    <div class="topnav">
      <%= image_tag("bikeLogo.png", alt: "Logo", class: "logo") %>
      <span class="valetbike">VALETBIKE</span>
      <div class="nav-links">
        <a href="#about">Rent a Bike</a>
        <div class="dropdown">
          <button class="dropbtn"><%= link_to "My Account", edit_user_registration_path %></button>
          <div class="dropdown-content">
            <a ><%= button_to "Logout", destroy_user_session_path, method: :delete %></a>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Main Content -->
  <div id="site-container">
    <%= yield %>
    <!-- Footer -->
    <% if user_signed_in? %>
    <footer class="footer">
      <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="#">About</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
      </ul>
      <p>&copy;2024 ValetBike | All Rights Reserved</p>
    </footer>
    <% end %>
  </div>


</body>
</html>
